#site-preview {
  width: 800px;
  height: 200px;
}

#site-preview h1,
#site-preview h3,
#site-preview p {
  margin: 0; 
}

#site-preview .slide {
  display: inline-block;
  width: 310px;
  overflow: hidden;
  height: 200px;
  padding: 20px;
  float: left;
}

#site-preview #slide-viewer {
  height: 200px;
  position: relative;
  overflow: hidden;
}

.slide .desc {
  display: inline-block; 
  width: 50%;
  vertical-align: top;
}

.slide .desc p {
  border-top: 1px solid #ddd; 
}

.slide .img {
  position: relative;
  overflow: hidden;
}
.slide img {
  height: 150px;
  position: absolute;
}

#site-preview .nav {
  width: 40px;
  height: 75px;
  text-indent: -10000;
  opacity: 0.2;
  margin-top: 60px;
  
  -webkit-transition: opacity 0.2s ease-in;  
   -moz-transition: opacity 0.2s ease-in;  
   -o-transition: opacity 0.2s ease-in;  
   transition: opacity 0.2s ease-in;
}

#site-preview .nav:hover {
  opacity: 0.8;
}

#site-preview #prev {
  float: left;
  background-image: url(../images/left.png);
}

#site-preview #next {
  float: right;
  background-image: url(../images/right.png);
}

#site-preview #paginate a.pager {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-left: 2px;

  text-indent: -10000; 
  background: url(../images/dots.png) no-repeat 0 -12px; 
}

#site-preview #paginate a.pager.active { 
  background-position: 0 0; 
}
