#site-preview {
  border: 1px solid #ddd;
  padding: 8px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  box-shadow:inset 0 0 10px #ddd;
  -moz-box-shadow:inset 0 0 10px #ddd;
}

#site-preview h1,
#site-preview h3,
#site-preview p {
  margin: 0;
}

#site-preview .slide {
  display: inline-block;
  overflow: hidden;
  padding: 20px;
  float: left;

  margin: 10px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  box-shadow:inset 0 0 10px #ddd;
  -moz-box-shadow:inset 0 0 10px #ddd;
}

#site-preview #slide-viewer {
  position: relative;
  overflow: hidden;
}

.slide .desc {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.slide .desc p {
  border-top: 1px solid #ddd;
}

.slide .img {
  position: relative;
  overflow: hidden;
}
.slide img {
  position: absolute;
}

#site-preview .nav {
  width: 24px;
  height: 55px;
  text-indent: -10000;
  opacity: 0.3;

  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#site-preview .nav:hover {
  opacity: 0.8;
}

#site-preview #prev {
  float: left;
  background-image: url(../images/left.png);
}

#site-preview #next {
  float: right;
  background-image: url(../images/right.png);
}

#site-preview #paginate {
  float: right;
  margin-right: 50px;
  margin-top: -12px;
}

#site-preview #paginate a.pager {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 7px;

  text-indent: -10000px;
  background: url(../images/dots.png) no-repeat 0 -8px;
}

#site-preview #paginate a.pager.active {
  background-position: 0 0;
}
